@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Yellowtail&display=swap);
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

p {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

input:focus, input:active {
  box-shadow: none !important; }

img {
  max-width: 100%; }

h5 {
  font-family: 'Yellowtail', cursive; }

section {
  padding: 3.125rem 0;
  position: relative;
  overflow: hidden; }
  @media screen and (max-width: 575.98px) {
    section {
      padding: 1.25rem 0; } }
  @media (min-width: 576px) and (max-width: 767.98px) {
    section {
      padding: 1.875rem 0; } }

.container {
  max-width: 1170px; }
  @media screen and (max-width: 575px) {
    .container {
      padding: 0px 15px;
      max-width: 100%;
      width: 100%; } }

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: all ease .5s; }
  @media screen and (max-width: 767.98px) {
    header {
      position: relative;
      box-shadow: rgba(8, 7, 7, 0.17) 0px 3px 13px; } }
  header .main-nav {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    max-width: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: .625rem 3.125rem;
    position: relative; }
    @media screen and (max-width: 767.98px) {
      header .main-nav {
        padding: .625rem 1.25rem; } }
    header .main-nav .logo {
      width: 20%;
      max-width: 20%;
      display: block;
      float: left; }
      @media screen and (max-width: 767.98px) {
        header .main-nav .logo {
          width: 100%;
          max-width: 100%; } }
    header .main-nav .menu {
      display: block;
      width: 40%;
      max-width: 40%;
      position: relative;
      transition: all ease .5s;
      transform: translateX(0); }
      header .main-nav .menu.active {
        display: block;
        transform: translate(0); }
      @media screen and (max-width: 767.98px) {
        header .main-nav .menu {
          width: 100%;
          max-width: 100%;
          transform: translateX(-100%);
          display: none; } }
      @media (min-width: 768px) and (max-width: 991.98px) {
        header .main-nav .menu {
          width: 60%;
          max-width: 60%; } }
      @media (min-width: 992px) and (max-width: 1199.98px) {
        header .main-nav .menu {
          width: 60%;
          max-width: 60%; } }
      header .main-nav .menu ul li {
        display: inline-block;
        padding: .3125rem 1.125rem;
        font-size: 1rem;
        position: relative; }
        header .main-nav .menu ul li:hover a {
          color: #37da11; }
          header .main-nav .menu ul li:hover a::before {
            width: 100%; }
        @media screen and (max-width: 767.98px) {
          header .main-nav .menu ul li {
            display: block;
            padding: .625rem .3125rem; } }
        @media (min-width: 768px) and (max-width: 991.98px) {
          header .main-nav .menu ul li {
            padding: .3125rem .3125rem; } }
        header .main-nav .menu ul li a {
          color: #fff;
          display: block;
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: .4px;
          position: relative;
          padding: .125rem 0;
          transition: all ease .5s; }
          header .main-nav .menu ul li a::before {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            width: 0;
            height: .1875rem;
            border-radius: 1.25rem;
            background: #37da11;
            transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s; }
          @media screen and (max-width: 767.98px) {
            header .main-nav .menu ul li a {
              display: inline-block;
              color: #37da11; } }
    header .main-nav .book {
      width: 20%;
      max-width: 20%;
      display: block;
      position: relative; }
      @media screen and (max-width: 767.98px) {
        header .main-nav .book {
          width: 100%;
          max-width: 100%;
          display: none; } }
      @media (min-width: 768px) and (max-width: 991.98px) {
        header .main-nav .book {
          width: 20%;
          max-width: 20%; } }
      header .main-nav .book ul li {
        display: inline-block;
        padding: .3125rem .9375rem;
        font-size: 1rem;
        position: relative;
        border: 0.125rem solid #37da11;
        position: relative;
        transition: all ease .5s; }
        header .main-nav .book ul li:hover::before {
          width: 100%; }
        header .main-nav .book ul li:hover a {
          color: #fff; }
        header .main-nav .book ul li::before {
          position: absolute;
          content: "";
          height: 100%;
          width: 0;
          top: 0;
          left: 0;
          background: #37da11;
          transition: all ease .5s; }
        @media screen and (max-width: 767.98px) {
          header .main-nav .book ul li {
            display: block;
            padding: .625rem .3125rem;
            width: fit-content; } }
        @media (min-width: 768px) and (max-width: 991.98px) {
          header .main-nav .book ul li {
            font-size: .875rem;
            padding: .3125rem .3125rem; } }
        header .main-nav .book ul li a {
          color: #fff;
          display: block;
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: .4px;
          position: relative;
          padding: .125rem 0;
          transition: all ease .5s; }
          @media screen and (max-width: 767.98px) {
            header .main-nav .book ul li a {
              display: inline-block; } }
    header .main-nav .social-media {
      width: 20%;
      max-width: 20%;
      display: block;
      position: relative;
      text-align: right;
      display: none; }
      @media screen and (min-width: 1200px) {
        header .main-nav .social-media {
          display: block; } }
      header .main-nav .social-media ul li {
        display: inline-block;
        padding: .3125rem .9375rem; }
        @media screen and (max-width: 767.98px) {
          header .main-nav .social-media ul li:first-child {
            padding-left: 0; } }
        header .main-nav .social-media ul li a {
          color: #37da11; }
    header .main-nav .menu-toggle {
      height: 2.5rem;
      width: 2.5rem;
      align-items: center;
      margin: 0px 0 0 2.5rem;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      right: .625rem;
      top: .625rem;
      color: #37da11;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 999; }
      header .main-nav .menu-toggle::before {
        position: absolute;
        content: "\f110";
        font-size: 1.5625rem;
        color: #37da11;
        font-family: Flaticon;
        font-size: 2.1875rem; }
      @media screen and (max-width: 767.98px) {
        header .main-nav .menu-toggle {
          opacity: 1;
          visibility: visible; } }

.sub-head {
  background: #1f1f1f;
  position: relative;
  width: 100%; }

.slider {
  position: relative;
  overflow: hidden;
  padding: 0; }
  .slider .carousel .carousel-control-prev, .slider .carousel .carousel-control-next {
    opacity: 1; }
  .slider .carousel-item {
    overflow: hidden; }
    @media screen and (max-width: 575.98px) {
      .slider .carousel-item {
        height: 400px; } }
    .slider .carousel-item img {
      width: 100%; }
      @media screen and (max-width: 575.98px) {
        .slider .carousel-item img {
          height: 400px; } }
    .slider .carousel-item::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.8);
      width: 100%;
      height: 100%;
      z-index: 9; }
  .slider .wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all ease .5s; }
    @media screen and (max-width: 575.98px) {
      .slider .wrapper {
        text-align: center; } }
    .slider .wrapper h6 {
      display: block;
      margin: .3125rem 0;
      font-size: 1.875rem;
      color: #37da11;
      text-transform: capitalize; }
      @media screen and (max-width: 575.98px) {
        .slider .wrapper h6 {
          font-size: 1.25rem; } }
      @media screen and (min-width: 1200px) {
        .slider .wrapper h6 {
          width: 50%;
          text-align: center; } }
    .slider .wrapper h1 {
      display: block;
      margin: .3125rem 0;
      font-size: 3.125rem;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1px; }
      @media screen and (min-width: 1200px) {
        .slider .wrapper h1 {
          width: 50%;
          text-align: center; } }
      @media screen and (max-width: 575.98px) {
        .slider .wrapper h1 {
          font-size: 1.875rem; } }
    .slider .wrapper p {
      font-size: 1.25rem;
      display: block;
      margin: .3125rem 0;
      text-transform: capitalize;
      letter-spacing: .5px; }
      @media screen and (max-width: 575.98px) {
        .slider .wrapper p {
          font-size: 1rem; } }
      @media screen and (min-width: 1200px) {
        .slider .wrapper p {
          width: 50%;
          text-align: center; } }
    .slider .wrapper a {
      display: inline-block;
      margin: .625rem 0;
      font-size: 1rem;
      color: #fff;
      background-color: #37da11;
      border-radius: 3px;
      padding: .3125rem 1.125rem;
      border: 0;
      border-bottom: 2px solid #166a02;
      position: relative;
      z-index: 9; }

.se-second .wrapper {
  display: inline-block;
  width: 100%;
  margin: 1.25rem 0;
  position: relative; }
  .se-second .wrapper .content {
    display: block;
    margin: 1.25rem 0;
    position: relative; }
    .se-second .wrapper .content h5 {
      font-size: 1.125rem;
      color: #37da11;
      display: inline-block;
      margin: .3125rem 0;
      text-transform: capitalize; }
    .se-second .wrapper .content h3 {
      display: block;
      margin: .3125rem 0;
      color: #1f1f1f;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: .5px; }
    .se-second .wrapper .content p {
      display: inline-block;
      line-height: 1.5625rem;
      font-size: .9375rem;
      color: #666666;
      margin: .625rem 0;
      text-align: justify; }
    .se-second .wrapper .content a {
      font-size: 1rem;
      color: #fff;
      background: #37da11;
      padding: .5rem .75rem;
      text-transform: lowercase;
      border-radius: 1.25rem;
      margin: .625rem 0;
      display: inline-block; }
    .se-second .wrapper .content li {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 1.25rem 0;
      padding-left: 6.25rem; }
      .se-second .wrapper .content li img {
        position: absolute;
        left: 0;
        width: 4.375rem;
        border-radius: 50%;
        padding: .3125rem;
        border: 1px solid #37da11; }
      .se-second .wrapper .content li h4 {
        font-size: 1.125rem;
        display: block;
        margin: .3125rem 0;
        color: #1f1f1f; }
      .se-second .wrapper .content li span {
        font-size: 1rem;
        color: #666666; }

.se-third {
  background: #f8fcf7; }
  .se-third .heading {
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 1.25rem 0;
    text-align: center; }
    .se-third .heading h5 {
      display: block;
      margin: .3125rem 0;
      color: #37da11;
      font-size: 1.125rem; }
    .se-third .heading h2 {
      display: inline-block;
      margin: .3125rem 0;
      font-size: 1.5625rem;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: .5px;
      color: #1f1f1f; }
    .se-third .heading p {
      display: block;
      margin: .3125rem 0;
      font-size: 1rem;
      color: #666666; }
  .se-third .wrapper {
    display: block;
    position: relative;
    margin: 1.25rem 0;
    padding: 1.25rem 1.875rem; }
    .se-third .wrapper .content {
      display: inline-block;
      width: 100%;
      text-align: center; }
      .se-third .wrapper .content ol li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative; }
        .se-third .wrapper .content ol li i {
          display: flex;
          height: 4.375rem;
          width: 4.375rem;
          align-items: center;
          justify-content: center;
          border: dashed 1.5px #37da11;
          margin: .3125rem 0;
          color: #37da11;
          font-size: 1.875rem;
          border-radius: 50%;
          transition: all ease .5s; }
          .se-third .wrapper .content ol li i:hover {
            background: #37da11;
            color: #fff; }
        .se-third .wrapper .content ol li h4 {
          display: inline-block;
          margin: .625rem 0;
          font-size: 1.125rem;
          color: #1f1f1f;
          text-transform: capitalize; }
        .se-third .wrapper .content ol li p {
          display: block;
          margin: 0 0 .625rem 0;
          font-size: 1rem;
          color: #666666; }

.se-four .heading {
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 1.25rem 0;
  text-align: center; }
  .se-four .heading h5 {
    display: block;
    margin: .3125rem 0;
    color: #37da11;
    font-size: 1.125rem; }
  .se-four .heading h2 {
    display: inline-block;
    margin: .3125rem 0;
    font-size: 1.5625rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .5px;
    color: #1f1f1f; }
  .se-four .heading p {
    display: block;
    margin: .3125rem 0;
    font-size: 1rem;
    color: #666666; }
.se-four .wrapper {
  display: block;
  position: relative;
  margin: 1.25rem 0;
  padding: 1.25rem 1.875rem;
  background: #fff;
  border-radius: .3125rem;
  -webkit-box-shadow: 0 12px 25px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 12px 25px -1px rgba(0, 0, 0, 0.1); }
  .se-four .wrapper .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: .625rem 0;
    position: relative; }
    .se-four .wrapper .content img {
      display: block;
      margin: .3125rem; }
    .se-four .wrapper .content h4 {
      font-size: 1.125rem;
      color: #37da11;
      text-transform: capitalize;
      letter-spacing: .3px;
      display: inline-block;
      font-weight: bold;
      margin: .3125rem 0; }
    .se-four .wrapper .content p {
      display: block;
      margin: .3125rem 0;
      color: #666666;
      font-size: 1rem;
      text-align: justify; }

.se-five {
  background: url(../images/background/abt-02.jpg) no-repeat center fixed;
  background-size: cover;
  width: 100%;
  position: relative; }
  .se-five .shap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(31, 31, 31, 0.5);
    z-index: 1; }
  .se-five .wrapper {
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 1.25rem 0;
    text-align: center;
    z-index: 2; }
    .se-five .wrapper h5 {
      display: inline-block;
      margin: .3125rem 0 .625rem 0;
      color: #37da11;
      font-size: 1.875rem;
      font-weight: bold;
      letter-spacing: 1px; }
    .se-five .wrapper h2 {
      display: block;
      margin: .3125rem;
      color: #fff;
      font-size: 1.5625rem;
      text-transform: uppercase;
      font-weight: bold; }
    .se-five .wrapper p {
      font-size: 1rem;
      color: #ddd;
      line-height: 1.3333;
      display: block;
      margin: .625rem 0; }
    .se-five .wrapper a {
      display: inline-block;
      padding: .625rem 1.125rem;
      background: #37da11;
      color: #fff;
      font-size: 1rem;
      text-transform: capitalize;
      letter-spacing: .5px;
      border-radius: 1.25rem;
      cursor: pointer; }

.menu-items {
  background: #f8fcf7; }
  .menu-items .heading {
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 1.25rem 0;
    text-align: center; }
    .menu-items .heading h5 {
      display: block;
      margin: .3125rem 0;
      color: #37da11;
      font-size: 1.125rem; }
    .menu-items .heading h2 {
      display: inline-block;
      margin: .3125rem 0;
      font-size: 1.5625rem;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: .5px;
      color: #1f1f1f; }
    .menu-items .heading p {
      display: block;
      margin: .3125rem 0;
      font-size: 1rem;
      color: #666666; }
  .menu-items .wrapper {
    position: relative;
    display: block;
    margin: 1.25rem 0;
    transition: all ease .5s; }
    .menu-items .wrapper #myTab {
      justify-content: center;
      align-items: center; }
      .menu-items .wrapper #myTab .nav-item {
        margin: .625rem; }
        .menu-items .wrapper #myTab .nav-item .nav-link {
          color: #fff;
          padding: .625rem 1.25rem;
          background: #37da11;
          border: 0;
          border-radius: 0;
          font-size: .9375rem;
          font-weight: 600;
          text-transform: capitalize;
          border-radius: 1.25rem;
          border: 1px solid #37da11; }
          .menu-items .wrapper #myTab .nav-item .nav-link.active {
            background: #fff;
            color: #37da11; }
    .menu-items .wrapper .tab-content {
      position: relative;
      display: block;
      margin: 1.25rem 0;
      transition: all ease .5s;
      padding: .625rem 0; }
      .menu-items .wrapper .tab-content .tab-pane {
        transform: translateY(100%); }
        .menu-items .wrapper .tab-content .tab-pane.active {
          transition: all ease-in-out .5s;
          transform: translateY(0); }
        .menu-items .wrapper .tab-content .tab-pane figure {
          display: block;
          margin: 0;
          position: relative;
          height: 100%;
          width: 100%;
          object-fit: cover;
          transition: all .2s;
          margin-bottom: 1.875rem;
          box-shadow: 0 12px 25px -1px rgba(0, 0, 0, 0.1); }
          .menu-items .wrapper .tab-content .tab-pane figure .images {
            display: block;
            width: 100%;
            position: relative; }
          .menu-items .wrapper .tab-content .tab-pane figure .content {
            display: block;
            padding: .625rem 1.25rem;
            position: relative;
            background: #fff;
            text-align: center; }
            .menu-items .wrapper .tab-content .tab-pane figure .content h4 {
              font-size: 1.125rem;
              color: #1f1f1f;
              text-transform: capitalize;
              font-weight: 600;
              letter-spacing: .3px;
              display: inline-block;
              margin: .3125rem 0; }
            .menu-items .wrapper .tab-content .tab-pane figure .content p {
              font-size: .9375rem;
              color: #666666;
              text-align: justify;
              display: block;
              margin: .3125rem; }
            .menu-items .wrapper .tab-content .tab-pane figure .content a {
              display: inline-block;
              font-size: 1rem;
              color: #fff;
              text-transform: capitalize;
              padding: .375rem 1.125rem;
              background: #37da11;
              border-radius: .1875rem;
              position: relative;
              z-index: 1;
              transition: all ease .5s;
              transform: translateY(0);
              margin: .625rem 0;
              cursor: pointer; }

.blog .wrapper {
  display: block;
  margin: 1.25rem 0;
  position: relative; }
  .blog .wrapper .content {
    display: inline-block;
    width: 100%; }
    .blog .wrapper .content .blog-sub {
      width: 100%;
      margin: 0 0 20px 0;
      padding: 0px 10px;
      position: relative; }
      @media (max-width: 575.98px) {
        .blog .wrapper .content .blog-sub {
          width: 100%;
          max-width: 100%;
          flex: 1 1 100%; } }
      .blog .wrapper .content .blog-sub .blog-content-date {
        height: 50px;
        width: 50px;
        background: #37da11;
        color: #fff;
        top: 0;
        left: 0px;
        position: absolute;
        text-align: center;
        font-weight: 600; }
        .blog .wrapper .content .blog-sub .blog-content-date span {
          display: block; }
        .blog .wrapper .content .blog-sub .blog-content-date::before {
          position: absolute;
          height: 15px;
          width: 10px;
          background: #37da11;
          top: 50px;
          content: "";
          left: 0;
          clip-path: polygon(0 0, 100% 100%, 100% 0); }
      .blog .wrapper .content .blog-sub .blog-content {
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        position: relative;
        display: block;
        overflow: hidden; }
      .blog .wrapper .content .blog-sub .blog-content-section {
        padding: 20px 25px;
        background: #fff;
        border: solid 1px #eee8e8;
        border-top: 0;
        display: block;
        width: 100%; }
        .blog .wrapper .content .blog-sub .blog-content-section .blo-content-title {
          padding: 1.25rem 0; }
        .blog .wrapper .content .blog-sub .blog-content-section .blog-admin {
          margin: 5px 0px; }
          .blog .wrapper .content .blog-sub .blog-content-section .blog-admin ol li {
            display: inline-block;
            color: #37da11;
            font-size: 15px;
            margin: 0 5px 0 0; }
            .blog .wrapper .content .blog-sub .blog-content-section .blog-admin ol li i {
              padding: 0 5px 0 0; }
        .blog .wrapper .content .blog-sub .blog-content-section .blo-content-title h4 {
          font-size: 20px;
          font-weight: 600;
          color: #333333;
          padding: 3px 0px; }
        .blog .wrapper .content .blog-sub .blog-content-section .blo-content-title p {
          margin: 0px;
          padding: 3px 0px;
          line-height: 27px;
          color: #777; }
.blog .heading {
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 1.25rem 0;
  text-align: center; }
  .blog .heading h5 {
    display: block;
    margin: .3125rem 0;
    color: #37da11;
    font-size: 1.125rem; }
  .blog .heading h2 {
    display: inline-block;
    margin: .3125rem 0;
    font-size: 1.5625rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .5px;
    color: #1f1f1f; }
  .blog .heading p {
    display: block;
    margin: .3125rem 0;
    font-size: 1rem;
    color: #666666; }
.blog .owl-carousel {
  display: inline-block;
  width: 100%;
  margin: 1.25rem 0;
  position: relative; }
  .blog .owl-carousel .owl-nav {
    display: none; }
  .blog .owl-carousel .owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1.25rem 0; }
    .blog .owl-carousel .owl-dots .owl-dot {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 1.25rem;
      width: 1.25rem; }
      .blog .owl-carousel .owl-dots .owl-dot.active span {
        background: #37da11; }
      .blog .owl-carousel .owl-dots .owl-dot:focus {
        outline: none; }
      .blog .owl-carousel .owl-dots .owl-dot span {
        background: #1f1f1f;
        height: .625rem;
        width: .625rem;
        border-radius: 100%;
        margin: 0 .3125rem; }
  .blog .owl-carousel .item {
    display: block;
    margin: 1.25rem 0;
    position: relative; }
    .blog .owl-carousel .item .content {
      display: inline-block;
      width: 100%; }
      .blog .owl-carousel .item .content .blog-sub {
        width: 100%;
        margin: 0 0 20px 0;
        padding: 0px 10px;
        position: relative; }
        @media (max-width: 575.98px) {
          .blog .owl-carousel .item .content .blog-sub {
            width: 100%;
            max-width: 100%;
            flex: 1 1 100%; } }
        .blog .owl-carousel .item .content .blog-sub .blog-content-date {
          height: 50px;
          width: 50px;
          background: #37da11;
          color: #fff;
          top: 0;
          left: 0px;
          position: absolute;
          text-align: center;
          font-weight: 600; }
          .blog .owl-carousel .item .content .blog-sub .blog-content-date span {
            display: block; }
          .blog .owl-carousel .item .content .blog-sub .blog-content-date::before {
            position: absolute;
            height: 15px;
            width: 10px;
            background: #37da11;
            top: 50px;
            content: "";
            left: 0;
            clip-path: polygon(0 0, 100% 100%, 100% 0); }
        .blog .owl-carousel .item .content .blog-sub .blog-content {
          border-top-right-radius: 6px;
          border-top-left-radius: 6px;
          position: relative;
          display: block;
          overflow: hidden; }
        .blog .owl-carousel .item .content .blog-sub .blog-content-section {
          padding: 20px 25px;
          background: #fff;
          border: solid 1px #eee8e8;
          border-top: 0;
          display: block;
          width: 100%; }
          .blog .owl-carousel .item .content .blog-sub .blog-content-section .blo-content-title {
            padding: 1.25rem 0; }
          .blog .owl-carousel .item .content .blog-sub .blog-content-section .blog-admin {
            margin: 5px 0px; }
            .blog .owl-carousel .item .content .blog-sub .blog-content-section .blog-admin ol li {
              display: inline-block;
              color: #37da11;
              font-size: 15px;
              margin: 0 5px 0 0; }
              .blog .owl-carousel .item .content .blog-sub .blog-content-section .blog-admin ol li i {
                padding: 0 5px 0 0; }
          .blog .owl-carousel .item .content .blog-sub .blog-content-section .blo-content-title h4 {
            font-size: 20px;
            font-weight: 600;
            color: #333333;
            padding: 3px 0px; }
          .blog .owl-carousel .item .content .blog-sub .blog-content-section .blo-content-title p {
            margin: 0px;
            padding: 3px 0px;
            line-height: 27px;
            color: #777; }

.team {
  background: #f8fcf7; }
  .team .heading {
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 1.25rem 0;
    text-align: center; }
    .team .heading h5 {
      display: block;
      margin: .3125rem 0;
      color: #37da11;
      font-size: 1.125rem; }
    .team .heading h2 {
      display: inline-block;
      margin: .3125rem 0;
      font-size: 1.5625rem;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: .5px;
      color: #1f1f1f; }
    .team .heading p {
      display: block;
      margin: .3125rem 0;
      font-size: 1rem;
      color: #666666; }
  .team .main-team-card {
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 15px;
    margin: 20px 0px;
    position: relative;
    transition: 0.5s; }
    .team .main-team-card .team-setup {
      margin: 0 0 20px 0;
      padding: 10px;
      flex: 1 1 25%;
      width: 25%;
      max-width: 25%; }
      @media screen and (max-width: 375px) {
        .team .main-team-card .team-setup {
          width: 100%;
          max-width: 100%;
          flex: 1 1 100%;
          -webkit-flex-direction: 1 1 100%;
          -moz-flex-direction: 1 1 100%;
          -ms-flex-direction: 1 1 100%; } }
      @media (min-width: 376px) and (max-width: 767.98px) {
        .team .main-team-card .team-setup {
          width: 50%;
          max-width: 50%;
          flex: 1 1 50%;
          -webkit-flex-direction: 1 1 50%;
          -moz-flex-direction: 1 1 50%;
          -ms-flex-direction: 1 1 50%; } }
      .team .main-team-card .team-setup .team-items {
        width: 100%;
        display: block;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.07);
        transition: 0.5s;
        position: relative; }
        .team .main-team-card .team-setup .team-items:hover .team-user-social {
          opacity: 1;
          visibility: visible;
          left: 0;
          display: block; }
        .team .main-team-card .team-setup .team-items:hover .team-user::before {
          width: 100%;
          opacity: 1;
          visibility: visible;
          display: block; }
        .team .main-team-card .team-setup .team-items .team-name {
          padding: 5px 0px 15px 0;
          position: relative;
          display: block;
          text-align: center;
          z-index: 2; }
          .team .main-team-card .team-setup .team-items .team-name::before {
            position: absolute;
            content: "";
            width: 20px;
            height: 20px;
            background: #fff;
            top: -10px;
            -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            left: 47%;
            z-index: 1; }
          .team .main-team-card .team-setup .team-items .team-name h2 {
            font-size: 18px;
            color: #1f1f1f; }
          .team .main-team-card .team-setup .team-items .team-name b {
            font-size: 15px;
            color: #666666; }
        .team .main-team-card .team-setup .team-items .team-user {
          overflow: hidden;
          position: relative;
          transition: 0.5s; }
          .team .main-team-card .team-setup .team-items .team-user::before {
            position: absolute;
            content: "";
            height: 100%;
            left: 0;
            top: 0;
            width: 0;
            opacity: 0;
            visibility: hidden;
            background: rgba(55, 218, 17, 0.5); }
        .team .main-team-card .team-setup .team-items .team-user-social {
          position: relative;
          background: rgba(255, 255, 255, 0.1);
          width: 100%;
          padding: 5px 0px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 1;
          visibility: visible;
          transition: 0.5s;
          display: block;
          margin: .625rem 0 .3125rem 0; }
          @media (min-width: 768px) and (max-width: 991.98px) {
            .team .main-team-card .team-setup .team-items .team-user-social {
              top: 40%; } }
          .team .main-team-card .team-setup .team-items .team-user-social ol li {
            display: inline-block;
            padding-right: .625rem;
            color: #fff;
            transition: 0.6s;
            height: 2.5rem;
            width: 2.5rem;
            background: #37da11;
            line-height: 2.5rem;
            text-align: center;
            padding: 0rem;
            font-size: 1rem;
            margin-right: .3125rem; }
            .team .main-team-card .team-setup .team-items .team-user-social ol li:hover {
              color: #37da11;
              transform: translateX(-0.3125rem); }
              .team .main-team-card .team-setup .team-items .team-user-social ol li:hover i {
                color: #fff; }

.abt {
  background: url(../images/background/abt-01.jpg) no-repeat center;
  background-size: cover; }
  .abt .wrapper {
    position: relative;
    display: block;
    padding: 1.25rem 0;
    text-align: center; }
    .abt .wrapper h2 {
      font-size: 1.25rem;
      color: #37da11;
      display: block;
      margin: .3125rem 0;
      text-transform: uppercase;
      font-weight: 600; }
    .abt .wrapper ol li {
      display: inline-block;
      font-size: 1rem;
      text-transform: capitalize;
      color: #1f1f1f; }
      .abt .wrapper ol li i {
        font-size: 1.875rem;
        color: #37da11;
        margin: 0 .625rem;
        position: relative;
        top: .3125rem; }

.bg-0-b {
  padding: 50px 0px;
  position: relative;
  background: #f8fcf7;
  z-index: 2; }
  .bg-0-b .main-card-contact {
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 0px;
    padding: 10px 15px;
    position: relative;
    z-index: 9; }
    .bg-0-b .main-card-contact .sup-card-contact {
      width: 40%;
      max-width: 40%;
      flex: 1 1 40%; }
      @media screen and (max-width: 767.98px) {
        .bg-0-b .main-card-contact .sup-card-contact {
          width: 100%;
          max-width: 100%;
          flex: 1 1 100%; } }
      .bg-0-b .main-card-contact .sup-card-contact .contact-title {
        position: relative; }
        .bg-0-b .main-card-contact .sup-card-contact .contact-title h2 {
          font-size: 20px;
          margin: 0 0 10px 0;
          color: #222;
          padding-bottom: 5px;
          position: relative;
          display: inline-block; }
          .bg-0-b .main-card-contact .sup-card-contact .contact-title h2::before {
            position: absolute;
            content: "";
            background: #37da11;
            width: 100%;
            height: 3px;
            bottom: 0; }
        .bg-0-b .main-card-contact .sup-card-contact .contact-title ol li {
          display: block;
          padding: 10px 0px;
          color: #606060;
          font-size: 16px;
          font-weight: 600; }
          .bg-0-b .main-card-contact .sup-card-contact .contact-title ol li i {
            color: #37da11;
            padding-right: 15px;
            font-size: 1.375rem; }
      .bg-0-b .main-card-contact .sup-card-contact .head-content {
        position: relative;
        display: block; }
        .bg-0-b .main-card-contact .sup-card-contact .head-content h2 {
          font-size: 20px;
          margin: 0 0 10px 0;
          color: #222;
          padding-bottom: 5px;
          position: relative;
          display: inline-block; }
          .bg-0-b .main-card-contact .sup-card-contact .head-content h2::before {
            position: absolute;
            content: "";
            background: #37da11;
            width: 100%;
            height: 3px;
            bottom: 0; }
        .bg-0-b .main-card-contact .sup-card-contact .head-content p {
          font-size: 16px;
          line-height: 27px;
          display: block;
          padding: 20px 0px;
          margin: 0px; }
    .bg-0-b .main-card-contact .sup-card-contact-0a {
      width: 60%;
      max-width: 60%;
      flex: 1 1 60%; }
      @media screen and (max-width: 767.98px) {
        .bg-0-b .main-card-contact .sup-card-contact-0a {
          width: 100%;
          max-width: 100%;
          flex: 1 1 100%; } }
      .bg-0-b .main-card-contact .sup-card-contact-0a .dived {
        width: 100%;
        flex-wrap: wrap; }
        .bg-0-b .main-card-contact .sup-card-contact-0a .dived .ca-ool {
          padding: 0px 10px; }
        .bg-0-b .main-card-contact .sup-card-contact-0a .dived .form-group {
          width: 50%;
          max-width: 50%;
          flex: 1 1 50%; }
          @media screen and (max-width: 575.98px) {
            .bg-0-b .main-card-contact .sup-card-contact-0a .dived .form-group {
              width: 100%;
              max-width: 100%;
              flex: 1 1 100%; } }
          .bg-0-b .main-card-contact .sup-card-contact-0a .dived .form-group .form-sup {
            margin: 10px;
            position: relative; }
            .bg-0-b .main-card-contact .sup-card-contact-0a .dived .form-group .form-sup .cal-01 {
              position: relative; }
            .bg-0-b .main-card-contact .sup-card-contact-0a .dived .form-group .form-sup i {
              position: absolute;
              right: 0px;
              top: 0px;
              height: 45px;
              width: 45px;
              font-size: 1.375rem;
              background: #37da11;
              text-align: center;
              line-height: 45px;
              color: #fff;
              border-top-right-radius: .25rem;
              border-bottom-right-radius: .25rem; }
            .bg-0-b .main-card-contact .sup-card-contact-0a .dived .form-group .form-sup label {
              font-size: 15px;
              color: #6e6e6e; }
              .bg-0-b .main-card-contact .sup-card-contact-0a .dived .form-group .form-sup label span {
                position: relative;
                top: 4px;
                left: 5px;
                color: #37da11; }
          .bg-0-b .main-card-contact .sup-card-contact-0a .dived .form-group .form-control {
            padding: 10px 15px;
            margin: 30px 0px;
            height: 45px;
            position: relative; }

footer {
  position: relative;
  padding: 3.125rem 0;
  background: #1f1f1f;
  overflow: hidden; }
  footer .wrapper {
    display: block;
    position: relative;
    margin: 1.25rem 0;
    text-align: left; }
    footer .wrapper h3 {
      font-size: 1.25rem;
      color: #37da11;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: .5px;
      position: relative;
      margin-bottom: .625rem; }
    footer .wrapper .blog-footer {
      position: relative;
      display: flex;
      flex: 1 1 100%;
      flex-wrap: wrap;
      margin: .625rem 0; }
      footer .wrapper .blog-footer span {
        width: 100px;
        margin: .3125rem; }
        footer .wrapper .blog-footer span img {
          width: 100px; }
    footer .wrapper .content {
      margin: .625rem 0;
      position: relative;
      display: block;
      text-align: left; }
      footer .wrapper .content ul li {
        display: block;
        margin: .3125rem 0;
        padding: .3125rem .625rem;
        position: relative; }
        footer .wrapper .content ul li::before {
          position: absolute;
          content: "";
          left: .625rem;
          height: .3125rem;
          width: .3125rem;
          background: #37da11;
          margin-top: .625rem; }
        footer .wrapper .content ul li a {
          padding-left: 1.25rem;
          color: #fff;
          font-size: 1rem; }
      footer .wrapper .content .se {
        position: relative;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        flex: 1 1 100%;
        justify-content: space-between; }
        footer .wrapper .content .se li {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          flex: 1 1 100%;
          color: #fff;
          font-size: 1rem; }
    footer .wrapper h2 {
      font-size: 1.125rem;
      color: #fff;
      display: block;
      margin: .625rem 0;
      position: relative;
      padding-bottom: .625rem;
      text-transform: uppercase; }
      footer .wrapper h2::before {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 15%;
        background: #37da11;
        height: .125rem; }
    footer .wrapper img {
      display: block;
      margin: .625rem 0; }
    footer .wrapper p {
      font-size: 1rem;
      text-align: justify;
      display: inline-block;
      margin: .625rem;
      color: #fff;
      margin-left: 0; }
    footer .wrapper .form-group {
      position: relative;
      margin: .625rem .625rem 1.875rem 0;
      display: block; }
      footer .wrapper .form-group .form-control {
        border-radius: 0;
        height: 2.5rem;
        min-height: 2.5rem;
        background: transparent;
        position: relative;
        padding-right: 2.5rem;
        color: #fff;
        border: 1px solid #fff; }
      footer .wrapper .form-group i {
        position: absolute;
        right: 0;
        top: 0;
        height: 2.5rem;
        width: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #37da11;
        color: #fff;
        border: 1px solid #fff;
        cursor: pointer;
        font-size: 1.5625rem; }

.copy-right {
  padding: .625rem 0;
  position: relative;
  overflow: hidden;
  background: #0c0c0c; }
  .copy-right p {
    font-size: 1rem;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: .5px;
    text-align: center; }
    .copy-right p a {
      margin-left: .625rem;
      color: #37da11;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0;
      font-family: 'ZCOOL XiaoWei', serif; }

/*# sourceMappingURL=style.css.map */
